<div>
    <h1>Register</h1>
    <form id="registerForm">
        <label for="">Nombre</label>
        <input name="first_name">
        <br>
        <label for="">Apellido</label>
        <input name="last_name">
        <br>
        <label for="">Email</label>
        <input name="email">
        <br>
        <label for="">Edad</label>
        <input name="age">
        <br>
        <label for="">Password</label>
        <input type="password" name="password">

        <input type="submit">
    </form>
    <p>si ya tenes una cuenta.. </p> <a href="/views/users/login">Ingresa aqui</a>
</div>

<script src="/js/register.js"></script>