<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label for="">Email</label>
        <input type="email" name="email">
        <br>
        <label for="">Password</label>
        <input type="password" name="password">

        <input type="submit">
    </form>
    <p>si no tenes una cuenta.. </p> <a href="/views/users/register">Ingresa aqui</a>
    <p>Si tenes cuenta en GitHub </p> <a href="/api/github/login">Ingresa aqui</a>
</div>

<script src="/js/login.js"></script>